.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/

.cproject

.buildpath

*.sublime-project
*.sublime-workspace

Thumbs.db

Desktop.ini

bak/
inc/Maniaplanet/
inc/ManiaQuery/CustomClass.php
inc/ManiaQuery/PseudoClass.php
inc/autoload.php
inc/mq_tooltip.css
inc/pgs/
index.php
log.txt
*.mq
*.css
logs.php
img/*.png

ui_demo.php
example.php
test.xml

# Mac crap
.DS_Store

.gitignore
